@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111827;
  --foreground: #f9fafb;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
}

/* Maplibre attribution */
.maplibregl-ctrl-attrib {
  background: transparent !important;
  color: #4b5563 !important;
  font-size: 10px !important;
}
